<%- errorMessagesFor(book) %>
<div class="control-group">
   <%- form.label("book title", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("title") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("book category", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("category") %>
   </div>
</div>
