<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <%- stylesheetLinkTag('jquery.dataTables', 'bootstrap', 'application', 'bootstrap-responsive') %>
        <%- javascriptIncludeTag('jquery','jquery.dataTables.min', 'bootstrap', 'rails', 'application') %>
        <%- csrfMetaTag() %>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">Nineleaps Library</a>
                    <ul class="nav">
                        <li><a class="active" href="<%- pathTo.users() %>">users</a></li>
                        <li><a href="<%- pathTo.books() %>">books</a></li>
                    </ul>
            </div>
        </div>

        <div class="container">
            <% var flash = request.flash('info').pop(); if (flash) { %>
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% } %>

            <% flash = request.flash('error').pop(); if (flash) { %>
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% }; %>

            <%- body %>

            <hr />
            <footer>
                <p>&copy; Nineleaps 2014</p>
            </footer>
        </div>
    </body>
</html>
<%- contentFor('javascripts') %>
<script type ="text/javascript">
jQuery(document).ready( function () {
   jQuery('#users_index').DataTable();

} );
</script>
